<div class="productView-rating scoder-productReview">
    <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
    <div style='{{ jm_style }}' class='jdgm-widget jdgm-preview-badge'  data-id='{{ product.id }}'>{{ product.metafields.judgeme.badge }}</div>
</div>