<div class="scoder-popup scoder-video-popup scoder-popup-topDown" data-popup-video id="scoder-video-popup">
    <div class="scoder-popup-wrapper">
        <div class="scoder-popup-header">
            <button type="button" class="scoder-popup-close clearfix" data-close-video-popup aria-label="{{ 'general.common.close' | t }}">
                {% render 'icon-close' %}
                {{ 'general.common.close' | t }}
            </button>
        </div>
        <div class="scoder-popup-content">
        </div>
    </div>    
</div>