<link rel="stylesheet" href="{{ 'component-card-mobile-popup.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-card-mobile-popup.css' | asset_url | stylesheet_tag }}</noscript>
<div class="scoder-popup scoder-card-mobile-popup scoder-popup-topDown" data-card-mobile-popup id="scoder-card-mobile-popup">
  <div class="scoder-popup-wrapper">
      <div class="scoder-popup-content custom-scrollbar scoder-card-mobile-content"></div>
  </div>    
</div>